@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html, body {
    font-family: 'Roboto', sans-serif;
  }

  body::-webkit-scrollbar {
    width: 14px;
  }

  body::-webkit-scrollbar-track {
    background: white;
  }

  body::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
    border: 4px solid white;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }

  .scroll-component {
    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background: #F2F3F7;
    }

    &::-webkit-scrollbar-thumb {
      background-color: grey;
      border-radius: 20px;
      border: 4px solid #F2F3F7;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #9e9e9e;
    }

    &-white::-webkit-scrollbar-track {
      background: white;
    }

    &-white::-webkit-scrollbar-thumb {
      background-color: grey;
      border-radius: 20px;
      border: 4px solid white;
    }

    &-white::-webkit-scrollbar-thumb:hover {
      background: #9e9e9e;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .Toastify__toast-body {
    font-weight: 600 !important;
  }
}